## Dictionary to DataFrame

In [2]:
# Pre-defined lists
names = ["United States", "Australia", "Japan", "India", "Russia", "Morocco", "Egypt"]
dr = [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {"country": names, "drives_right": dr, "cars_per_cap": cpc}

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Definition of row_labels
row_labels = ["US", "AUS", "JPN", "IN", "RU", "MOR", "EG"]

# Specify row labels of cars
cars.index = row_labels

# Print cars
print(cars)
print(cars.describe())

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45
       cars_per_cap
count      7.000000
mean     351.571429
std      345.595552
min       18.000000
25%       57.500000
50%      200.000000
75%      659.500000
max      809.000000

## CSV to DataFrame

In [3]:
# Import pandas as pd
import pandas as pd

# Fix import by including index_col
cars = pd.read_csv("datasets/cars.csv", index_col=0)
# Print out cars
print(cars)
print("----------------------------------------------")
print(cars.shape)
print("----------------------------------------------")
print(cars.info())
print("----------------------------------------------")
# Summary statistics for numerical data
print(cars.describe())
print("----------------------------------------------")
# Print the values of homelessness
print(cars.values)
print("----------------------------------------------")
# Know how many null values a column has
print(cars.isnull().sum())
print("----------------------------------------------")
# Print the column index of homelessness
print(cars.columns)
print("----------------------------------------------")
# Print the row index of homelessness
print(cars.index)
print("----------------------------------------------")

     cars_per_cap       country  drives_right
US            809  UnitedStates          True
AUS           731     Australia         False
JPN           588         Japan         False
IN             45         India         False
RU            200        Russia          True
MOR            70       Morocco          True
EG             45         Egypt          True
----------------------------------------------
(7, 3)
----------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, US to EG
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cars_per_cap  7 non-null      int64
 1   country       7 non-null      object
 2   drives_right  7 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 175.0+ bytes
None
----------------------------------------------
       cars_per_cap
count      7.000000
mean     355.428571
std      341.377043
min       45.000000
25%       57.500000
50%      200.000000
75%      659.500000
max      809.000000
----------------------------------------------
[[809 'UnitedStates' True]
 [731 'Australia' False]
 [588 'Japan' False]
 [45 'India' False]
 [200 'Russia' True]
 [70 'Morocco' True]
 [45 'Egypt' True]]
----------------------------------------------
cars_per_cap    0
country         0
drives_right    0
dtype: int64
----------------------------------------------
Index(['cars_per_cap', 'country', 'drives_right'], dtype='object')
----------------------------------------------
Index(['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG'], dtype='object')
----------------------------------------------

## Dataframe to CSV

In [26]:
output = pd.DataFrame({'Country': cars.index,
                       'cpc': cars.cars_per_cap})
output.to_csv('datasets/submission.csv', index=False)

## Col access using brackets

In [5]:
import pandas as pd

cars = pd.read_csv("datasets/cars.csv", index_col=0)

print(cars)
print("----------------------------------------------")
print(cars[["country", "drives_right"]])
print("----------------------------------------------")
print(cars[["country"]])
print("----------------------------------------------")

     cars_per_cap       country  drives_right
US            809  UnitedStates          True
AUS           731     Australia         False
JPN           588         Japan         False
IN             45         India         False
RU            200        Russia          True
MOR            70       Morocco          True
EG             45         Egypt          True
----------------------------------------------
          country  drives_right
US   UnitedStates          True
AUS     Australia         False
JPN         Japan         False
IN          India         False
RU         Russia          True
MOR       Morocco          True
EG          Egypt          True
----------------------------------------------
          country
US   UnitedStates
AUS     Australia
JPN         Japan
IN          India
RU         Russia
MOR       Morocco
EG          Egypt
----------------------------------------------

## Row access using brackets

In [6]:
import pandas as pd

cars = pd.read_csv("datasets/cars.csv", index_col=0)

print(cars)
print("----------------------------------------------")
print(cars[1:4])
print("----------------------------------------------")
print(cars.head(6))

     cars_per_cap       country  drives_right
US            809  UnitedStates          True
AUS           731     Australia         False
JPN           588         Japan         False
IN             45         India         False
RU            200        Russia          True
MOR            70       Morocco          True
EG             45         Egypt          True
----------------------------------------------
     cars_per_cap    country  drives_right
AUS           731  Australia         False
JPN           588      Japan         False
IN             45      India         False
----------------------------------------------
     cars_per_cap       country  drives_right
US            809  UnitedStates          True
AUS           731     Australia         False
JPN           588         Japan         False
IN             45         India         False
RU            200        Russia          True
MOR            70       Morocco          True

## Rows & Cols access using loc & iloc

`[Subsetting DataFrame]`

In [7]:
import pandas as pd

cars = pd.read_csv("datasets/cars.csv", index_col=0)

print(cars)
print("----------------------------------------------")


# Access row by label
print(cars.loc[["RU"]])
print("----------------------------------------------")
print(cars.iloc[[4]])
print("----------------------------------------------")

# print as series
print(cars.loc["RU"])
print("----------------------------------------------")

# print as dataframe
print(cars.loc[["RU"]])
print("----------------------------------------------")


# Access multiple rows by label
print(cars.loc[["RU", "IN", "EG"]])
print("----------------------------------------------")
print(cars.iloc[[4, 3, 6]])
print("----------------------------------------------")


# Access row and column by label
print(cars.loc[["RU", "IN", "EG"], ["country", "drives_right"]])
print("----------------------------------------------")
print(cars.iloc[[4, 3, 6], [1, 2]])
print("----------------------------------------------")


# All rows, some columns
print(cars.loc[:, ["country", "drives_right"]])
print("----------------------------------------------")
print(cars.iloc[:, [1, 2]])
print("----------------------------------------------")


# specific cell
print(cars.loc[["RU"], ["country"]])
print("----------------------------------------------")

# Sub-dataframe
print(cars.loc[["RU", "IN", "EG"], ["country", "drives_right"]])
print("----------------------------------------------")

     cars_per_cap       country  drives_right
US            809  UnitedStates          True
AUS           731     Australia         False
JPN           588         Japan         False
IN             45         India         False
RU            200        Russia          True
MOR            70       Morocco          True
EG             45         Egypt          True
----------------------------------------------
    cars_per_cap country  drives_right
RU           200  Russia          True
----------------------------------------------
    cars_per_cap country  drives_right
RU           200  Russia          True
----------------------------------------------
cars_per_cap       200
country         Russia
drives_right      True
Name: RU, dtype: object
----------------------------------------------
    cars_per_cap country  drives_right
RU           200  Russia          True
----------------------------------------------
    cars_per_cap country  drives_right
RU           200  Russia          True
IN            45   India         False
EG            45   Egypt          True
----------------------------------------------
    cars_per_cap country  drives_right
RU           200  Russia          True
IN            45   India         False
EG            45   Egypt          True
----------------------------------------------
   country  drives_right
RU  Russia          True
IN   India         False
EG   Egypt          True
----------------------------------------------
   country  drives_right
RU  Russia          True
IN   India         False
EG   Egypt          True
----------------------------------------------
          country  drives_right
US   UnitedStates          True
AUS     Australia         False
JPN         Japan         False
IN          India         False
RU         Russia          True
MOR       Morocco          True
EG          Egypt          True
----------------------------------------------
          country  drives_right
US   UnitedStates          True
AUS     Australia         False
JPN         Japan         False
IN          India         False
RU         Russia          True
MOR       Morocco          True
EG          Egypt          True
----------------------------------------------
   country
RU  Russia
----------------------------------------------
   country  drives_right
RU  Russia          True
IN   India         False
EG   Egypt          True
----------------------------------------------

## Filtering from dataframe based on a condition

In [8]:
# Import cars data
import pandas as pd

cars = pd.read_csv("datasets/cars.csv", index_col=0)

# Extract drives_right column as Series: dr
dr = cars["drives_right"]
print(dr)
print("----------------------------------------------")

# Use dr to subset cars: sel
sel = dr == True

# Print sel
print(cars[sel])

US      True
AUS    False
JPN    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool
----------------------------------------------
     cars_per_cap       country  drives_right
US            809  UnitedStates          True
RU            200        Russia          True
MOR            70       Morocco          True
EG             45         Egypt          True

In [9]:
# Import cars data
import pandas as pd

cars = pd.read_csv("datasets/cars.csv", index_col=0)

# Create car_maniac: observations that have a cars_per_cap over 500
cpc = cars["cars_per_cap"]
many_cars = cpc > 500
car_maniac = cars[many_cars]

# Print car_maniac
print(cpc)

US     809
AUS    731
JPN    588
IN      45
RU     200
MOR     70
EG      45
Name: cars_per_cap, dtype: int64

In [10]:
# Import cars data
import pandas as pd

cars = pd.read_csv("datasets/cars.csv", index_col=0)

# Import numpy, you'll need this
import numpy as np

# Create medium: observations with cars_per_cap between 100 and 500
cpc = cars["cars_per_cap"]
between = np.logical_and(cpc > 100, cpc < 500)
medium = cars[between]

# Print medium
print(medium)

    cars_per_cap country  drives_right
RU           200  Russia          True

## Iterate over a dataframe

In [11]:
# Import cars data
import pandas as pd

cars = pd.read_csv("datasets/cars.csv", index_col=0)

# Iterate over rows of cars
for label, row in cars.iterrows():
    print(label)
    print(row)

US
cars_per_cap             809
country         UnitedStates
drives_right            True
Name: US, dtype: object
AUS
cars_per_cap          731
country         Australia
drives_right        False
Name: AUS, dtype: object
JPN
cars_per_cap      588
country         Japan
drives_right    False
Name: JPN, dtype: object
IN
cars_per_cap       45
country         India
drives_right    False
Name: IN, dtype: object
RU
cars_per_cap       200
country         Russia
drives_right      True
Name: RU, dtype: object
MOR
cars_per_cap         70
country         Morocco
drives_right       True
Name: MOR, dtype: object
EG
cars_per_cap       45
country         Egypt
drives_right     True
Name: EG, dtype: object

In [12]:
# Import cars data
import pandas as pd

cars = pd.read_csv("datasets/cars.csv", index_col=0)

# Adapt for loop
for lab, row in cars.iterrows():
    print(f"{lab}: {row['cars_per_cap']}")

US: 809
AUS: 731
JPN: 588
IN: 45
RU: 200
MOR: 70
EG: 45

# Add column

In [13]:
# Import cars data
import pandas as pd

cars = pd.read_csv("datasets/cars.csv", index_col=0)
print(cars)
print("----------------------------------------------")

cars["cpc per 1000"] = cars["cars_per_cap"] / 1000

# Print cars
print(cars)

     cars_per_cap       country  drives_right
US            809  UnitedStates          True
AUS           731     Australia         False
JPN           588         Japan         False
IN             45         India         False
RU            200        Russia          True
MOR            70       Morocco          True
EG             45         Egypt          True
----------------------------------------------
     cars_per_cap       country  drives_right  cpc per 1000
US            809  UnitedStates          True         0.809
AUS           731     Australia         False         0.731
JPN           588         Japan         False         0.588
IN             45         India         False         0.045
RU            200        Russia          True         0.200
MOR            70       Morocco          True         0.070
EG             45         Egypt          True         0.045

## Add column using `loc`

In [14]:
# Import cars data
import pandas as pd

cars = pd.read_csv("datasets/cars.csv", index_col=0)
print(cars)
print("----------------------------------------------")
# Code for loop that adds COUNTRY column
for label, row in cars.iterrows():
    cars.loc[label, "COUNTRY"] = row["country"].upper()

# Print cars
print(cars)

     cars_per_cap       country  drives_right
US            809  UnitedStates          True
AUS           731     Australia         False
JPN           588         Japan         False
IN             45         India         False
RU            200        Russia          True
MOR            70       Morocco          True
EG             45         Egypt          True
----------------------------------------------
     cars_per_cap       country  drives_right       COUNTRY
US            809  UnitedStates          True  UNITEDSTATES
AUS           731     Australia         False     AUSTRALIA
JPN           588         Japan         False         JAPAN
IN             45         India         False         INDIA
RU            200        Russia          True        RUSSIA
MOR            70       Morocco          True       MOROCCO
EG             45         Egypt          True         EGYPT

/tmp/ipykernel_8180/922820527.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'UNITEDSTATES' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  cars.loc[label, "COUNTRY"] = row["country"].upper()

## Add column using `apply()`

In [15]:
# Import cars data
import pandas as pd

cars = pd.read_csv("datasets/cars.csv", index_col=0)
print(cars)
print("----------------------------------------------")
# Use .apply(str.upper) beacuse .upper() is a method
cars["COUNTRY"] = cars["country"].apply(str.upper)
# use .apply(len) because len() is a function
cars["country length"] = cars["country"].apply(len)

print(cars)

     cars_per_cap       country  drives_right
US            809  UnitedStates          True
AUS           731     Australia         False
JPN           588         Japan         False
IN             45         India         False
RU            200        Russia          True
MOR            70       Morocco          True
EG             45         Egypt          True
----------------------------------------------
     cars_per_cap       country  drives_right       COUNTRY  country length
US            809  UnitedStates          True  UNITEDSTATES              12
AUS           731     Australia         False     AUSTRALIA               9
JPN           588         Japan         False         JAPAN               5
IN             45         India         False         INDIA               5
RU            200        Russia          True        RUSSIA               6
MOR            70       Morocco          True       MOROCCO               7
EG             45         Egypt          True         EGYPT               5

## Sorting based on Col

In [16]:
# Import cars data
import pandas as pd

cars = pd.read_csv("datasets/cars.csv", index_col=0)
print(cars)
print("----------------------------------------------")
# sorting based on one column
cars_cpc = cars.sort_values("cars_per_cap", ascending=False)
print(cars_cpc)
print("----------------------------------------------")
# sorting based on multiple columns
cars_cpc_country = cars.sort_values(["cars_per_cap", "country"], ascending=[True, True])
print(cars_cpc_country)
print("----------------------------------------------")

     cars_per_cap       country  drives_right
US            809  UnitedStates          True
AUS           731     Australia         False
JPN           588         Japan         False
IN             45         India         False
RU            200        Russia          True
MOR            70       Morocco          True
EG             45         Egypt          True
----------------------------------------------
     cars_per_cap       country  drives_right
US            809  UnitedStates          True
AUS           731     Australia         False
JPN           588         Japan         False
RU            200        Russia          True
MOR            70       Morocco          True
IN             45         India         False
EG             45         Egypt          True
----------------------------------------------
     cars_per_cap       country  drives_right
EG             45         Egypt          True
IN             45         India         False
MOR            70       Morocco          True
RU            200        Russia          True
JPN           588         Japan         False
AUS           731     Australia         False
US            809  UnitedStates          True
----------------------------------------------

## Subsetting rows by categorical variables with `isin()`

In [17]:
# Import cars data
import pandas as pd

cars = pd.read_csv("datasets/cars.csv", index_col=0)
print(cars)
print("----------------------------------------------")
countries = ["Japan", "Russia", "Egypt"]
conditions = cars["country"].isin(countries)
print(cars[conditions])
print("----------------------------------------------")

     cars_per_cap       country  drives_right
US            809  UnitedStates          True
AUS           731     Australia         False
JPN           588         Japan         False
IN             45         India         False
RU            200        Russia          True
MOR            70       Morocco          True
EG             45         Egypt          True
----------------------------------------------
     cars_per_cap country  drives_right
JPN           588   Japan         False
RU            200  Russia          True
EG             45   Egypt          True
----------------------------------------------

## Summary Statistics

In [18]:
import pandas as pd

sales = pd.read_csv("datasets/sales.csv", index_col=0)
print(sales.head())
print("----------------------------------------------")


# Print the mean of weekly_sales
print(sales["weekly_sales"].mean())
print("----------------------------------------------")

# Print the median of weekly_sales
print(sales["weekly_sales"].median())
print("----------------------------------------------")

# Print the maximum of the date column
print(sales['date'].max())
print("----------------------------------------------")

# Print the minimum of the date column
print(sales['date'].min())
print("----------------------------------------------")

   store type  department        date  weekly_sales  is_holiday  \
0      1    A           1  2010-02-05      24924.50       False
1      1    A           1  2010-03-05      21827.90       False
2      1    A           1  2010-04-02      57258.43       False
3      1    A           1  2010-05-07      17413.94       False
4      1    A           1  2010-06-04      17558.09       False

   temperature_c  fuel_price_usd_per_l  unemployment
0       5.727778              0.679451         8.106
1       8.055556              0.693452         8.106
2      16.816667              0.718284         7.808
3      22.527778              0.748928         7.808
4      27.050000              0.714586         7.808
----------------------------------------------
23843.95014850566
----------------------------------------------
12049.064999999999
----------------------------------------------
2012-10-26
----------------------------------------------
2010-02-05
----------------------------------------------

## Use `agg()`

In [19]:
import pandas as pd

sales = pd.read_csv("datasets/sales.csv", index_col=0)
print(sales.head())
print("----------------------------------------------")

# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)
    
# Print IQR of the temperature_c column
print(sales['temperature_c'].agg(iqr))
print("----------------------------------------------")

# Update to print IQR of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg(iqr))
print("----------------------------------------------")

# Update to print IQR and median of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr, np.median]))

   store type  department        date  weekly_sales  is_holiday  \
0      1    A           1  2010-02-05      24924.50       False
1      1    A           1  2010-03-05      21827.90       False
2      1    A           1  2010-04-02      57258.43       False
3      1    A           1  2010-05-07      17413.94       False
4      1    A           1  2010-06-04      17558.09       False

   temperature_c  fuel_price_usd_per_l  unemployment
0       5.727778              0.679451         8.106
1       8.055556              0.693452         8.106
2      16.816667              0.718284         7.808
3      22.527778              0.748928         7.808
4      27.050000              0.714586         7.808
----------------------------------------------
16.583333333333336
----------------------------------------------
temperature_c           16.583333
fuel_price_usd_per_l     0.073176
unemployment             0.565000
dtype: float64
----------------------------------------------
        temperature_c  fuel_price_usd_per_l  unemployment
iqr         16.583333              0.073176         0.565
median      16.966667              0.743381         8.099

/tmp/ipykernel_8180/3289673961.py:20: FutureWarning: The provided callable <function median at 0x7f0a9d108790> is currently using Series.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'median' instead.
  print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr, np.median]))
/tmp/ipykernel_8180/3289673961.py:20: FutureWarning: The provided callable <function median at 0x7f0a9d108790> is currently using Series.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'median' instead.
  print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr, np.median]))
/tmp/ipykernel_8180/3289673961.py:20: FutureWarning: The provided callable <function median at 0x7f0a9d108790> is currently using Series.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'median' instead.
  print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr, np.median]))

## Droping Duplicate `drop_duplicates(subset = ['',''])`

In [20]:
import pandas as pd

sales = pd.read_csv("datasets/sales.csv", index_col=0)

# Drop duplicate store/type combinations
store_types = sales.drop_duplicates(subset = ['store','type'])
print(store_types.head())
print("----------------------------------------------") 

# Drop duplicate store/department combinations
store_depts = sales.drop_duplicates(subset = ['store','department'])
print(store_depts.head())
print("----------------------------------------------") 

# Subset the rows where is_holiday is True and drop duplicate dates
holiday_dates = sales[sales['is_holiday'] == True].drop_duplicates('date')

# Print date col of holiday_dates
print(holiday_dates['date'])

      store type  department        date  weekly_sales  is_holiday  \
0         1    A           1  2010-02-05      24924.50       False
901       2    A           1  2010-02-05      35034.06       False
1798      4    A           1  2010-02-05      38724.42       False
2699      6    A           1  2010-02-05      25619.00       False
3593     10    B           1  2010-02-05      40212.84       False

      temperature_c  fuel_price_usd_per_l  unemployment
0          5.727778              0.679451         8.106
901        4.550000              0.679451         8.324
1798       6.533333              0.686319         8.623
2699       4.683333              0.679451         7.259
3593      12.411111              0.782478         9.765
----------------------------------------------
    store type  department        date  weekly_sales  is_holiday  \
0       1    A           1  2010-02-05      24924.50       False
12      1    A           2  2010-02-05      50605.27       False
24      1    A           3  2010-02-05      13740.12       False
36      1    A           4  2010-02-05      39954.04       False
48      1    A           5  2010-02-05      32229.38       False

    temperature_c  fuel_price_usd_per_l  unemployment
0        5.727778              0.679451         8.106
12       5.727778              0.679451         8.106
24       5.727778              0.679451         8.106
36       5.727778              0.679451         8.106
48       5.727778              0.679451         8.106
----------------------------------------------
498     2010-09-10
691     2011-11-25
2315    2010-02-12
6735    2012-09-07
6810    2010-12-31
6815    2012-02-10
6820    2011-09-09
Name: date, dtype: object

## Counting categorical variables `value_counts(sort = True)`
## Proportion `value_counts(normalize = True)`

In [21]:
import pandas as pd

sales = pd.read_csv("datasets/sales.csv", index_col=0)

# Drop duplicate store/type combinations
store_types = sales.drop_duplicates(subset = ['store','type'])

# Drop duplicate store/department combinations
store_depts = sales.drop_duplicates(subset = ['store','department'])

# Count the number of stores of each type
store_counts = store_types['type'].value_counts()
print(store_counts)

# Get the proportion of stores of each type
store_props = store_types['type'].value_counts(normalize = True)
print(store_props)

# Count the number of each department number and sort
dept_counts_sorted = store_depts['department'].value_counts(sort = True)
print(dept_counts_sorted)

# Get the proportion of departments of each number and sort
dept_props_sorted = store_depts['department'].value_counts(sort=True, normalize=True)
print(dept_props_sorted)

type
A    11
B     1
Name: count, dtype: int64
type
A    0.916667
B    0.083333
Name: proportion, dtype: float64
department
1     12
55    12
72    12
71    12
67    12
      ..
37    10
48     8
50     6
39     4
43     2
Name: count, Length: 80, dtype: int64
department
1     0.012917
55    0.012917
72    0.012917
71    0.012917
67    0.012917
        ...
37    0.010764
48    0.008611
50    0.006459
39    0.004306
43    0.002153
Name: proportion, Length: 80, dtype: float64

## Grouping using `grouby()`

In [22]:
import pandas as pd

sales = pd.read_csv("datasets/sales.csv", index_col=0)

# Group by type; calc total weekly sales
sales_by_type = sales.groupby("type")["weekly_sales"].sum()


# Get proportion for each type
sales_propn_by_type = sales_by_type / sum(sales_by_type)
print(sales_propn_by_type)
print("----------------------------------------------")

# Group by type and is_holiday; calc total weekly sales
sales_by_type_is_holiday = sales.groupby(["type","is_holiday"])["weekly_sales"].sum()
print(sales_by_type_is_holiday)
print("----------------------------------------------")

# Group by type and is_holiday; calc max, min, mean & median weekly sales
sales_by_type_is_holiday_stat = sales.groupby(["type","is_holiday"])["weekly_sales"].agg(['max', 'min', 'mean', 'median'])
print(sales_by_type_is_holiday_stat)
print("----------------------------------------------")

type
A    0.909775
B    0.090225
Name: weekly_sales, dtype: float64
----------------------------------------------
type  is_holiday
A     False         2.336927e+08
      True          2.360181e+04
B     False         2.317678e+07
      True          1.621410e+03
Name: weekly_sales, dtype: float64
----------------------------------------------
                       max      min          mean     median
type is_holiday
A    False       293966.05 -1098.00  23768.583523  12028.955
     True          5350.00  -598.00    590.045250     37.500
B    False       232558.51  -798.00  25751.980533  13348.680
     True          1590.00    31.41    810.705000    810.705
----------------------------------------------

## Pivot Tables

In [23]:
import pandas as pd

sales = pd.read_csv("datasets/sales.csv", index_col=0)

# Pivot for mean weekly_sales for each store type
mean_sales_by_type = sales.pivot_table(values = 'weekly_sales', index = 'type')

# Print mean_sales_by_type
print(mean_sales_by_type)
print("----------------------------------------------")

# Pivot for mean and median weekly_sales for each store type
# Pivot for mean and median weekly_sales for each store type
mean_med_sales_by_type = sales.pivot_table(values = 'weekly_sales', index = 'type', aggfunc = ['mean','median'])

# Print mean_med_sales_by_type
print(mean_med_sales_by_type)
print("----------------------------------------------")

# Pivot for mean weekly_sales by store type and holiday 
mean_sales_by_type_holiday = sales.pivot_table(values = 'weekly_sales', index = 'type', columns = 'is_holiday', aggfunc = 'mean')

# Print mean_sales_by_type_holiday
print(mean_sales_by_type_holiday)
print("----------------------------------------------")


# Print mean weekly_sales by department and type; fill missing values with 0
print(sales.pivot_table(values='weekly_sales',index='type', columns='department', aggfunc = 'mean', fill_value = 0))
print("----------------------------------------------")

# Print the mean weekly_sales by department and type; fill missing values with 0s; sum all rows and cols
print(sales.pivot_table(values='weekly_sales',index='type', columns='department', aggfunc = 'mean', fill_value = 0, margins=True))
print("----------------------------------------------")

      weekly_sales
type
A     23674.667242
B     25696.678370
----------------------------------------------
              mean       median
      weekly_sales weekly_sales
type
A     23674.667242     11943.92
B     25696.678370     13336.08
----------------------------------------------
is_holiday         False      True
type
A           23768.583523  590.04525
B           25751.980533  810.70500
----------------------------------------------
department            1              2             3             4   \
type
A           30961.725379   67600.158788  17160.002955  44285.399091
B           44050.626667  112958.526667  30580.655000  51219.654167

department            5             6             7             8   \
type
A           34821.011364   7136.292652  38454.336818  48583.475303
B           63236.875000  10717.297500  52909.653333  90733.753333

department            9             10  ...            90            91  \
type                                    ...
A           30120.449924  30930.456364  ...  85776.905909  70423.165227
B           66679.301667  48595.126667  ...  14780.210000  13199.602500

department             92            93            94             95  \
type
A           139722.204773  53413.633939  60081.155303  123933.787121
B            50859.278333   1466.274167    161.445833   77082.102500

department            96            97            98          99
type
A           21367.042857  28471.266970  12875.423182  379.123659
B            9528.538333   5828.873333    217.428333    0.000000

[2 rows x 80 columns]
----------------------------------------------
department             1              2             3             4  \
type
A           30961.725379   67600.158788  17160.002955  44285.399091
B           44050.626667  112958.526667  30580.655000  51219.654167
All         32052.467153   71380.022778  18278.390625  44863.253681

department             5             6             7             8  \
type
A           34821.011364   7136.292652  38454.336818  48583.475303
B           63236.875000  10717.297500  52909.653333  90733.753333
All         37189.000000   7434.709722  39658.946528  52095.998472

department             9            10  ...            91             92  \
type                                    ...
A           30120.449924  30930.456364  ...  70423.165227  139722.204773
B           66679.301667  48595.126667  ...  13199.602500   50859.278333
All         33167.020903  32402.512222  ...  65654.535000  132316.960903

department            93            94             95            96  \
type
A           53413.633939  60081.155303  123933.787121  21367.042857
B            1466.274167    161.445833   77082.102500   9528.538333
All         49084.687292  55087.846181  120029.480069  20337.607681

department            97            98          99           All
type
A           28471.266970  12875.423182  379.123659  23674.667242
B            5828.873333    217.428333    0.000000  25696.678370
All         26584.400833  11820.590278  379.123659  23843.950149

[3 rows x 81 columns]
----------------------------------------------